.updown-widget {
  width: 50px;
}

.updown-widget .updown-score {
  border: 1px solid #ccc;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.updown-widget .updown-score .updown-current-score {
  display: block;
  font-size: 20px;
}

.updown-widget .updown-vote {
  padding-top: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.updown-widget-voted .updown-vote {
  display: none;
}

.updown-widget .updown-vote a {
  display: block;
  color: #000;
  border: 1px solid #ccc;
  line-height: 20px;
  width: 20px;
}

.updown-widget .updown-vote a.updown-nodown {
  width: 48px;
}

.updown-widget .updown-vote a:hover,
.updown-widget .updown-voteundo a:hover {
  text-decoration: none;
}

.updown-widget .updown-vote .updown-voteup {
  float: left;
}

.updown-widget .updown-vote .updown-votedown {
  float: right;
}
  
.updown-widget .updown-voteundo {
  clear: both;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}

.updown-widget-voting .updown-voteundo {
  display: none;
}

.updown-widget .updown-voteundo a {
  display: block;
  border: 1px solid #ccc;
  color: #000;
  line-height: 20px;
  width: 48px;
}
